.popularContainer{

}

.popular{
    display: grid;
    row-gap: 3rem;
}

.popularBody{
    grid-column-gap: 2rem;
    
}

.popularCard{
    
}

.popularCardHeader{
    
}

.popularCardHeader img{
    
}

.popularCardBody{
    
}

.popularCardBody h3{

    margin-bottom: 3rem;
    
}